#even {
	border: 2px solid black;
	width: 500px;
	height: 100px;
	background-color: rgb(255, 255, 255);
}
#odd {
	border: 2px solid black;
	width: 500px;
	height: 100px;
	background-color: rgb(255, 255, 255);
}
.mathButton {
	margin: 10px;
}
li {
	list-style-type: none;
	font-weight: 900;
	display: inline-block;
	font-size: 40px;
	width: 40px;
	background-color: rgba(224, 13, 13, 0.356);
	text-align: center;
}
.container {
	display: flex;
	flex-direction: row;
}
.lesson_2 {
	display: flex;
	flex-direction: column;
}
.lesson_2 h1 {
	margin-right: 20px;
}
.results {
	margin-left: 20px;
}
#result {
	width: 100px;
	height: 100px;
	border: 2px solid;
}
.container_3 {
	width: 500px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.angle {
	display: flex;
	flex-direction: column;
}
.angle input {
	width: 100px;
	margin: 20px 0;
}
.result_3 {
	width: 100px;
	height: 100px;
	border: 2px solid black;
}

.container_3 button {
	width: 50px;
	height: 50px;
}
.lesson_4 {
	align-items: center;
	display: flex;
	flex-direction: column;
}
.lesson_4__container {
	display: flex;
	flex-direction: column;
}
.container_4 {
	align-items: center;
	display: flex;
	flex-direction: row;
}
.container_4 input {
	width: 400px;
	height: 50px;
}
.required {
	display: flex;
	flex-direction: column;
	margin: 0 10px;
}
.required button {
	width: 250px;
	margin: 10px 0;
}
#result_4 {
	width: 400px;
}
